SUPABASE_URL=https://bzopnvxahrigajeuvlqw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6b3BudnhhaHJpZ2FqZXV2bHF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTkxNjAsImV4cCI6MjA5NTk3NTE2MH0.GLlkx4jTeUJHEbJ6QGiLuGEVA7J9Q-ib9TAtMv7T08k
SUPABASE_JWT_SECRET="++JHXxgyDHQCi146IwqT5Q0LM/WM7rkPPv3dyyb6XY1OeXsUEhAiqrGYZh6jXXD1IEtwS3IjQ7rcAjN8oWuk6w=="
TABLE=mahasiswa