PORT=3000

SUPABASE_URL=https://bzopnvxahrigajeuvlqw.supabase.co

SUPABASE_ANON_KEY=sb_publishable_J4nYXNr5ONkgMArl0_fZog_Zw9rEtf6

JWT_SECRET=++JHXxgyDHQCi146IwqT5Q0LM/WM7rkPPv3dyyb6XY1OeXsUEhAiqrGYZh6jXXD1IEtwS3IjQ7rcAjN8oWuk6w==